@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


/* navigation bar css starts */
nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    color: blueviolet;
    justify-content: space-between;
    box-shadow: 0 0px 1px;
    border-bottom: 1px solid blueviolet;
    align-items: center;
    height: fit-content;
}

nav h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(94, 17, 236);
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    color: blueviolet;
    font-size: 20px;
    font-style: normal;
}

nav a:active {
    color: rgb(55, 42, 68);

}

nav li:hover {
    background-color: rgb(230, 230, 230);
}

nav li {
    list-style: none;
    padding: 10px 20px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav img {
    padding: 0 10px 0 10px;
    margin-right: 15px;
}

nav button {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 15px;
    color: blueviolet;
    margin-right: 5px;
    border-radius: 2px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    background-color: white;
    box-shadow: 0 0 2px black;
    font-size: 15px;
    font-style: normal;
}
nav button:hover{
    color: white;
    background-color: blueviolet;
}


/* navigation bar css ends */

/* resgistration page css starts */

.regbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid blueviolet;
    width: 20rem;
    margin: 60px auto;
    height: fit-content;
    border-radius: 10px;
    color: blueviolet;
    /* box-shadow: 0 0 10px blueviolet; */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
}

.regform {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.regform input {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    color: blueviolet;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    font-style: normal;
    /* box-shadow: 0 0 3px blueviolet ; */
}

.regform button {
    text-align: center;
    margin-top: 10px;
    color: blueviolet;
    width: 100%;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    /* box-shadow: 0 0 5px blueviolet ; */
}

.regstatus {
    margin-top: 15px;
}

/* registration page css ends */

@media only screen and (max-width: 750px) {

    nav,
    ul,
    div {
        flex-direction: column;

    }

    nav {
        box-shadow: none;
    }

    nav h1 {
        width: 100%;
        margin: 0;
        padding: 20px;
        text-align: center;
        box-shadow: 0 1px 5px 1px blueviolet;
    }

    nav li {
        border-bottom: 1px solid black;
        width: 100%;
        padding: 15px;
        text-align: center;

    }

    nav button {
        margin: 0;
        border-bottom: 1px solid black;
        padding: 15px;
        width: 100%;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        color: blueviolet;
        font-size: 20px;
        font-style: normal;
    }

    nav img {
        padding: 10px;
        margin: 0;
    }

    .right_nav li {
        padding: 0;

    }
    .right_nav{
        width: 100%;
    }


    nav div {
        width: 100%;
    }

}